.black,
.hover-black:hover
{
    color:#fff!important;
    background-color:#000!important
}
html{
    box-sizing:border-box
}*,
*:before,
*:after{
    box-sizing:inherit
}
hr{
    border:0;
    border-top:1px solid #eee;
    margin:20px 0
}
.image{
    max-width:100%;
    height:auto
}
img{
    vertical-align:middle
}
a{
    color:inherit
}
.input{
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    width:100%
}
.sidebar{
    height:100%;
    width:200px;
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow:auto
}
.bar-block {
    width:100%
}
.main,
#main{
    transition:margin-left .4s
}
.bar{
    width:100%;
    overflow:hidden
}
.center .bar{
    display:inline-block;
    width:auto
}
.bar .bar-item{
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0
}
.bar-block .bar-item{
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0
}
.bar-block.center .bar-item{
    text-align:center
}
.block{
    display:block;
    width:100%
}
@media (min-width:601px){
    .half{
        width:49.99999%
    }}
.content,.auto{
    margin-left:auto;
    margin-right:auto
}
.content{
    max-width:980px
}
.auto{
    max-width:1140px
}
@media (max-width:1205px){
    .auto{
        max-width:95%
    }}
@media (max-width:600px){
    .modal-content{
        margin:0 10px;
        width:auto!important
    }
    .modal{
        padding-top:30px
    }
.hide-small{
    display:none!important
}}
@media (min-width:993px){
    .hide-large{
        display:none!important
    }
    .sidebar.collapse{
        display:block!important
    }}
@media (max-width:992px) and (min-width:601px){
    .hide-medium{
        display:none!important
    }}
@media (max-width:992px){
    .sidebar.collapse{
        display:none
    }
    .main{
        margin-left:0!important;
        margin-right:0!important
    }
    .auto{
        max-width:100%
    }}
.top,.bottom{
    position:fixed;
    width:100%;
    z-index:1
}
.top{
    top:0
}
.bottom{
    bottom:0
}
.container,.panel{
    padding:0.01em 16px
}
.opacity,.hover-opacity:hover{
    opacity:0.60
}
.opacity-off,.hover-opacity-off:hover{
    opacity:1
}
.small{
    font-size:12px!important
}
.xlarge{
    font-size:24px!important
}
.xxlarge{
    font-size:36px!important
}
.jumbo{
    font-size:64px!important
}
.left-align{
    text-align:left!important
}
.right-align{
    text-align:right!important
}
.justify{
    text-align:justify!important
}
.center{
    text-align:center!important
}
.margin{
    margin:16px!important
}
.padding-16{
    padding-top:16px!important;
    padding-bottom:16px!important
}
.padding-24{
    padding-top:24px!important;
    padding-bottom:24px!important
}
.padding-32{
    padding-top:32px!important;
    padding-bottom:32px!important
}
.padding-48{
    padding-top:48px!important;
    padding-bottom:48px!important
}
.padding-64{
    padding-top:64px!important;
    padding-bottom:64px!important
}
.left{
    float:left!important
}
.right{
    float:right!important
}
/* Colors */
.dark-grey,.hover-dark-grey:hover,.dark-gray,.hover-dark-gray:hover{
    color:#fff!important;
    background-color:#616161!important
}
.white,.hover-white:hover{
    color:#000!important;
    background-color:#fff!important
}
.text-grey,.hover-text-grey:hover,.text-gray,.hover-text-gray:hover{
    color:#757575!important
}
.text-light-grey,.hover-text-light-grey:hover,.text-light-gray,.hover-text-light-gray:hover{
    color:#f1f1f1!important
}